/* background-color: #21D4FD;
background-image: linear-gradient(155deg, #21D4FD 36%, #213eff 98%); */
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff !important;
    background-color: #007bff;
}
.bg-gradient {
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    /* box-shadow: 0px 2px 5px #aaaaaa; */
}
.btn-primary {
  background-color: rgb(0, 147, 233, 0.9);
  border: none;
}
.vh100 {
    min-height: 100vh;
}
.bg-uny {
    background-image : linear-gradient(160deg,rgb(0, 147, 233, 0.9) 0%, rgb(128, 208, 199, 0.8) 100%), url(../img/bg.jpg);
    background-size: cover;
}
body {
    background-color: #f0f0f0f0;
    font-family: 'Lato', sans-serif;
}
.navbar {
     margin-bottom: 10px; 
}
.footer {
  padding: 20px;
  font-size: 9pt;
  text-align: center;
}
.loading {
  display: inline-block;
  width: 18px;
  height: 18px;
  background-image: url('../img/loading.gif');
  background-size: auto 100%;
  background-repeat: no-repeat;
}
.box-card {
    background: #fff;
    /* border: 1px #464545 solid; */
    box-shadow: 0px 1px 5px #aaaaaa;
    border-radius: 5px;
    padding: 5px;
}
#big-logo {
    max-height: 100px;
    margin-bottom: 20px;
}
#index-desc {
    padding-top: 30px;
    padding-bottom: 30px;
}
#index-desc p {
    font-size: 13pt;
    line-height: 2.0;
    font-weight: 700;
    color: #fff;
}

.custom-file-form {
    margin-top: 10px;
    margin-bottom: 10px;
}
.custom-file-form input[type="file"] {
    display: none;
}

/*Card News feed*/
.media-newsfeed {
  border-bottom: 1px solid #E7E7E7;
  margin-bottom: 15px;
  padding-bottom: 0px;
}
.media-newsfeed:last-child {
  border-bottom: none;
}
.media-newsfeed .title a {
    color: #2A2A2A;
    font-size: 16pt;
    display: block;
}
.media-newsfeed span.date {
  display: block;
  font-size: 10pt;
  color: #A7A7A7;
  padding-bottom: 5px;
}
.media-newsfeed span.author {
  color: #5E5E5E;
  margin-top: 5px;
  margin-bottom: 5px;
  display: block;

}
.media-newsfeed .desc {
  color: #343434;
  font-size: 10pt;
  line-height: 2;
  padding-top: 10px;
  margin-bottom: 10px;
}
  
ul.gallery {
  display: inline-block;
  padding: 0px;
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
}

.gallery li {
  display: inline-block;
  height: 200px;
  list-style: none;
  list-style-type: none;
  margin: 0 4px;
}
.gallery li:first-child {
  margin-left: 0px;
}
.gallery li:last-child {
  margin-right: 0px;
}
.gallery li img {
  height: 200px;
  display: block;
}
.gallery li .video {
  position: relative;
}
.gallery li .video .play-button {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 200px;
  line-height: 200px;
  opacity: 0.6;
  color: #fff;
  text-align: center;
  font-size: 60px;
  transition: 0.3s;
}
.gallery li .video .play-button:hover {
  opacity: 1;
}

.profiler {
  border-left: 1px solid #f6f6f6;
}

.grid-gallery {
  background-color: #fff;
  padding: 0px;
  max-width: 300px;
}
.grid-gallery .title {
  font-weight: 700;
  padding: 5px;
  display: block;
}
.nav-link.active {
  background-color: #fff;
  border-radius: 5px;
  color: #0093E9 !important;
}

/*Profile Page*/
.profile-box .img {
  
}
.profil-box .line {
  display: block;
}
.profil-box .nama {
  font-size: 16pt;
  font-weight: 700;
}
.karya-card {
  margin-bottom: 10px;
  background-color: #fff;
  padding: 0px;
  border-radius: 3px;
  border: 1px solid #E4E4E4;
}
.karya-card .img-thumbs img{
  width: 100%;

}
.karya-card .name {
  font-weight: 600;
  width: 100%;
  word-wrap: break-word;
}
.karya-card .name a {
  padding: 10px 10px;
  color: black;
  display: block;
}
.karya-card .author {
  border-top: 1px solid #F4F4F4;
}
.karya-card .author a {
  padding: 10px 10px;
  color: black;
  font-size: 13px;
  font-weight: 400;
  display: block;
}
/*Galery Thumbnail*/
.thumb-gallery {
  position: relative;
  margin-bottom: 15px;
}
.thumb-gallery .btn {
  position: absolute;
  top: -10px;
  right: -10px;
}

/*karya thumbinail*/
.thumbimg {
  width: 100%;
  position: relative;
}
.thumbimg img {
  width: 100% !important;
}
.thumbimg .custom-file-form {
  position: absolute;
  top: -25px;
  right: -15px;
}
/*
Profil Karya
css box samping karya
*/
.profil-karya {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.profil-karya img {
  max-width: 60px;
  height: 60px;
  margin-right: 10px;
}
.profil-karya .detail {
  width: auto;
  padding-top: 5px;
}
.profil-karya .detail .nama {
  font-weight: 700;
  font-size: 13pt;
  color: inherit;
}
.profil-karya .detail .prodi {
  font-weight: 500;
  font-size: 11pt;
  color: #868686;
}

.profil-karya .detail span {
  display: block;  
}
/* Karya box
* Adding card box styling
*
*
*/
.karya-box {
}
@media only screen and (max-width: 600px) {
    .karya-box {
      margin-right: -15px;
      margin-left: -15px; 
      margin-top: -10px;
      border-radius: 0xp; 
    }
}
.karya-box .header {
  display: block;
  margin-bottom: 20px;
}
.karya-box .header img {
  height: 60px;
  float: left;
  border-radius: 30px;
  margin-top: 10px;
  margin-right: 10px;
  display: inline-block;
}
.karya-box .header div {
  width: calc(100% - 70px);
  display: inline-block;
}
.karya-box .header .judul {
  display: block;
  font-size: 25px;
  font-weight: 600;
  line-height: 1.5;
}
.karya-box .header .waktu {
  color: #999;
}

/*Tag list*/
.tag-list {
  display: block;
  padding: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.tag-list li {
  display: inline-block;
  background-color: #9e9e9e;
  color: #fff;
  margin-bottom: 5px;
  border-radius: 5px;
}
.tag-list li:hover {
  display: inline-block;
  background-color: #0093E9;
  color: #fff;
}
.tag-list li a {
  color: inherit;
  padding: 5px 10px;
  display: block;
  text-decoration: none;
}

.fancybox-button--share {
  display: none !important;
}